@tailwind base;
@tailwind components;
@tailwind utilities;

/* base font */
body {
  @apply bg-slate-100 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Prompt', sans-serif;
}
